*, ::after, ::before {
    box-sizing: border-box;
    font-family: 'Paralucent', Arial, sans-serif;
}
:root {
    --tema-blue: #0070DF;
    --tema-blue-hover: #0050BF;
    --tema-red: #EE1B5A;
    --tema-orange: #FF2828;
    --tema-green: #11A61F;
    --tema-green-hover: #009600;
    --tema-black: #000000;
    --tema-semi-black: #212121;
    --tema-black-contatos: #0D0D0D;
    --tema-grey: #8E8E8E;
    --background-cards: #FFFFFF;
    --max-width-responsive-landing: 100%;
    --max-width-responsive-obrigado: 100%;
}
body{
    background: #F0F0F0;
    margin: 0;
    padding: 0;
    position: relative;
}
body.sombra-total{
    overflow: hidden;
}
body.sombra-total:after{
    content: '';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .3);
}
button{
    border: none;
    outline: none;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a, button{
    cursor: pointer;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 19px;
}
header img{
    width: 33.33%;
}
.landing header{
    padding-top: 94px;
    margin-bottom: 52px;
}
.landing header img:first-child{
    max-width: 349px;
}
.landing header img:last-child{
    max-width: 224px;
}
.obrigado header{
    padding-top: 53px;
    margin-bottom: 40px;
    align-items: flex-start;
    padding-left: 30px;
}
.obrigado header img{
    width: 100%;
}
.obrigado header img:first-child{
    max-width: 164px;
}
.obrigado header img:last-child{
    max-width: 220px;
}
main{
    width: 100%;
    text-align: center;
    padding: 0 30px;
}
#introducao{
    margin-bottom: 50px;
}
h1{
    font-size: 20px;
    text-align: center;
    line-height: 133.4%;
}
.landing h1{
    font-weight: 500;
    width: 90%;
    margin: 0 auto 34px;
}
.obrigado h1{
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    background: -webkit-linear-gradient(0deg, #E77C1A, #EF4580);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.obrigado main{
    padding: 0 15px;
}
.obrigado main p{
    color: #8E8E8E;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
}
.obrigado main p.texto-pre-video{
    color: var(--tema-blue);
}
.btn-inscricao{
    background: var(--tema-blue);
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 133.4%;
    padding: 12px 20px;
    width: 80%;
    margin: 34px auto 0;
    border-radius: 5px;
}
.btn-inscricao:hover{
    background: var(--tema-blue-hover);
}
h2{
    font-weight: 500;
    text-align: center;
    line-height: 110%;
}
#duvidas h2{
    line-height: 93.4%;
    margin: 0 auto 16px;
    width: 60%;
}
#duvidas > p{
    max-width: 300px;
    text-align: center;
    color: var(--tema-grey);
    font-size: 20px;
    margin: 0 auto 50px;
}
.duvida{
    background: var(--background-cards);
    border-radius: 10px;
    padding: 16px;
    overflow: hidden;
    margin-bottom: 16px;
    text-align: left;
}
.pergunta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.pergunta p{
    color: var(--tema-blue);
    width: 85%;
    font-size: 18px;
    line-height: 110%;
    margin: 0;
}
.pergunta svg{
    width: 32px;
    display: block;
    fill: var(--tema-blue);
}
.duvida:not(.ativa) .pergunta svg{
    transform: rotateX(180deg);
}
.resposta{
    margin-top: 16px;
    border-top: 1px solid var(--tema-blue);
    color: var(--tema-semi-black);
    line-height: 130%;
    letter-spacing: 0.32px;
    opacity: .7;
    transition: .6s ease-out;
}
.resposta > div{
    padding-top: 16px;
}
.duvida:not(.ativa) .resposta{
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    border-color: var(--background-cards);
}
#mini-card{
    padding: 33px 25px;
    border-radius: 8px;
    background: var(--background-cards);
    font-size: 18px;
    line-height: 130%;
    margin: 29px 0;
}
#mini-card b{
    color: var(--tema-blue);
}
#mini-card hr{
    border-color: var(--tema-grey);
    margin-top: 32px;
    border-bottom: none;
}
#container-detalhes{
    border-radius: 12px;
    border: 8px solid #F6F6F6;
    background: var(--background-cards);
    padding: 37px 12px 34px;
    margin: 0 -8px;
}
#beneficios h2{
    text-align: left;
    color: var(--tema-red);
    font-size: 28px;
    font-weight: 600;
    line-height: 110%;
    margin: 0 0 16px;
}
#beneficios li{
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    font-size: 20px;
    font-weight: 500;
    line-height: 110%;
    text-align: left;
    margin-bottom: 16px;
}
#beneficios li svg{
    width: 24px;
    height: 24px;
    display: block;
}
#beneficios li div{
    flex: 1;
}
#beneficios li span{
    display: block;
    font-weight: 300;
    color: #767676;
    font-size: 17px;
}
#valores > img{
    width: 90%;
    display: block;
    margin: 25px auto 10px;
}
#preco-cortado{
    width: fit-content;
    position: relative;
    margin: 10px auto 25px;
    font-size: 26px;
    line-height: 130%;
    color: var(--tema-orange);
    display: flex;
}
#preco-cortado:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 120%;
    align-self: center;
    left: -10%;
    right: 0;
    background: var(--tema-orange);
    transform-origin: center;
    transform: rotate(4deg);
}
#valores p{
    font-size: 20px;
    line-height: 130%;
    margin: 0;
}
#valores p b{
    display: block;
    color: var(--tema-blue);
    font-size: 65px;
    word-break: break-word;
    line-height: 130%;
}
#valores .btn-inscricao{
    font-size: 14px;
    width: 95%;
    padding: 28px 20px;
}
footer{
    margin-top: 28px;
    border-top: 10px solid #64CFF6;
    background: var(--background-cards);
    width: 100%;
}
#detalhes-garantia{
    margin-top: 75px;
}
#detalhes-garantia img{
    width: 50%;
    max-width: 150px;
    display: block;
    margin: 0 auto 20px;
}
#detalhes-garantia h2{
    font-size: 28px;
    color: var(--tema-red);
    font-weight: 700;
    padding: 0 20%;
}
#detalhes-garantia p{
    padding: 0 48px;
    font-size: 20px;
    letter-spacing: 0.4px;
    line-height: 130%;
    text-align: center;
    color: var(--tema-semi-black);
    opacity: .7;
    margin: 0 0 50px;
}
.instrucoes-contato{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 40px 40px 50px;
    text-align: center;
}
.instrucoes-contato img{
    width: 40px;
    align-self: baseline;
    display: block;
}
.instrucoes-contato .complemento-contato{
    flex: 1;
}
.instrucoes-contato .complemento-contato p:first-child{
    font-size: 18px;
    color: var(--tema-black);
    font-weight: 700;
    line-height: 110%;
    margin: 0 0 10px;
}
.instrucoes-contato .complemento-contato p:not(p:first-child){
    font-size: 14px;
    color: var(--tema-semi-black);
    font-weight: 500;
    line-height: 130%;
    opacity: .7;
    margin: 0;
}
.link-whatsapp{
    outline: none;
    background: var(--tema-green);
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.28px;
    width: 80%;
    padding: 8px 20px;
    border-radius: 2px;
    display: block;
    text-decoration: none;
    margin: 15px auto 0;
}
.link-whatsapp:hover{
    background: var(--tema-green-hover);
}

#video-placeholder{
    position: relative;
    padding-bottom: 56.25%;
}

#video-placeholder iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-bussola-background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    overflow: hidden;
}
.container-bussola-background *{
    pointer-events: none;
}
#bussola-landing{
    position: absolute;
    width: 120%;
    z-index: 9;
    top: 0;
    right: 0;
    transform: translate(41%, -50%);
}
.obrigado #bussola-landing{
    width: 100%;
}

#bussola-lateral{
    position: absolute;
    width: 120%;
    z-index: 9;
    top: 350px;
    left: 0;
}

#manual-aluno img{
    width: 90%;
    max-width: 420px;
    display: block;
    margin: auto;
}

#manual-aluno div{
    margin-top: -70px;
    padding: 90px 5px 32px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 6px;
    background: var(--background-cards);
}
#manual-aluno div > *{
    margin: 0;
}
#manual-aluno h2{
    padding: 0 20px;
}
#manual-aluno p{
    font-size: 18px;
    letter-spacing: 0.36px;
}
#manual-aluno a{
    width: 95%;
    border-radius: 10px;
    border: 3px solid var(--tema-blue);
    background: var(--background-cards);
    color: var(--tema-blue);
    box-shadow: 0 6px 0 0 var(--tema-blue);
    outline: none;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#manual-aluno a:hover{
    color: var(--background-cards);
    background: var(--tema-blue);
}
#manual-aluno svg{
    width: 32px;
    margin-left: 5px;
    fill: var(--tema-blue);
}
#manual-aluno a:hover svg{
    fill: var(--background-cards);
}

.bussola-esquerda{
    display: none;
}

.obrigado footer{
    background: unset;
    border-top: none;
    padding: 0 16px;
}

.obrigado footer > *, #flex-contatos > div{
    margin-bottom: 32px;
}
.obrigado footer #flex-contatos div{
    padding: 0;
}
.obrigado .instrucoes-contato{
    justify-content: center;
}
.obrigado .instrucoes-contato .complemento-contato{
    flex: unset;
    width: fit-content;
}
.obrigado footer #flex-contatos .instrucoes-contato:last-child img{
    height: unset;
}
.obrigado .instrucoes-contato .complemento-contato p:first-child{
    font-size: 24px;
    text-align: left;
}
.obrigado .instrucoes-contato .complemento-contato p:not(p:first-child){
    font-size: 17px;
    text-align: left;
}
.obrigado .instrucoes-contato .complemento-contato a{
    width: fit-content;
    padding: 14px 24px;
    margin-left: 0;
    font-size: 17px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.336px;
    border-radius: 4px;
    margin-top: 10px;
}
.link-email{
    outline: none;
    background: var(--background-cards);
    text-decoration: none;
    display: block;
    border: 1px solid rgba(197, 34, 31, 0.40);
    color: #C5221F;
}

.link-email:hover{
    background: #C5221F;
    color: var(--background-cards);
}

#texto-contatos{
    padding: 16px;
    border-radius: 10px;
    background: var(--background-cards);
}

#texto-contatos p:first-child{
    color: var(--tema-blue);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    margin: 0 0 16px;
}
#texto-contatos p:last-child{
    color: var(--tema-black);
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.32px;
    margin: 0;
}

header, main, footer > *{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    width: 100%;
}


.landing header, .landing  main, .landing footer > *{
    max-width: var(--max-width-responsive-landing);
}

.obrigado header, .obrigado  main, .obrigado footer > *{
    max-width: var(--max-width-responsive-obrigado);
}

#container-pop-up{
    position: fixed;
    top: 200%;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 99;
    transition: .5s all ease;
}

#container-pop-up.show{
    top: 0;
}

#pop-up-formulario{
    margin-top: 0;
    display: block;
    background: #F0F0F0;
    padding: 18px 25px 32px;
    max-width: 730px;
    width: 90vw;
    z-index: 100;
}

#pop-up-formulario p{
    color: #8E8E8E;
    text-align: center;
    line-height: 120%;
    font-weight: 500;
    margin: 0;
}

#pop-up-formulario p:first-child{
    font-size: 14px;
    margin-bottom: 8px;
}

#pop-up-formulario p:nth-child(2){
    color: #EE1B5A;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 12px;
}

#pop-up-formulario p:last-of-type{
    font-size: 10px;
    margin-bottom: 8px;
}

.campos div:not(.aviso-input-invalido){
    position: relative;
    margin: 0 auto;
}
.campos label{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    width: 35px;
    padding-left: 5px;
}
.campos label svg{
    width: 100%;
    height: auto;
}
.campos input{
    padding: 10px 16px 10px 40px;
    color: #888;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.14px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .3);
}
.aviso-input-invalido{
    display: block;
    font-size: 10px;
    color: var(--tema-red);
    font-weight: 600;
    margin: 3px auto 10px;
    pointer-events: none;
    opacity: 0;
}
.campos div.input-invalido input{
    border: 1px solid var(--tema-red);
}
.campos div.input-invalido + .aviso-input-invalido{
    opacity: 1;
    animation: destacar-erro-input .5s forwards ease-in-out;
}

@keyframes destacar-erro-input{
    0%{
        padding-left: 0;
    }
    50%{
        padding-left: 20px;
    }
    100%{
        padding-left: 0;
    }
}

#pop-up-formulario button{
    display: block;
    margin: auto;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.38px;
    border-radius: 2px;
    padding: 9px 40px;
    background: var(--tema-blue);
}
#pop-up-formulario button:hover{
    background: var(--tema-blue-hover);
}

@media(max-width: 319px){
}
@media(min-width: 320px){
}
@media(min-width: 425px){
}
@media(min-width: 680px){
    #duvidas h2{
        width: 100%;
    }
    :root{
        --max-width-responsive-landing: calc(100vw - 200px);
        --max-width-responsive-obrigado: calc(100vw - 200px);
    }
    .obrigado main {
         padding: 0;
    }
}
@media(min-width: 768px){
    body.landing .container-bussola-background{
        overflow: unset;
    }
    body.obrigado #bussola-landing{
        width: calc(((100vw) * 0.6));
        max-width: 1280px;
    }
    body.landing #bussola-landing{
        width: calc(((100vw - 200px) * 0.45) + 200px);
        max-width: 830px;
        transform: none;
        top: 20px;
    }
    #detalhes-garantia{
        justify-content: center;
        display: flex;
        width: calc(var(--max-width-responsive-landing) * .75);
    }
    #detalhes-garantia img{
        width: 200px;
        max-width: 200px;
        align-self: baseline;
        margin: 0;
    }
    #detalhes-garantia div{
        flex: 1;
        margin-left: 23px;
        max-width: 525px;
    }
    #detalhes-garantia div > *{
        text-align: left;
        padding: 0;
        margin-top: 0;
    }
    #pop-up-formulario {
        padding: 45px 120px;
    }
    #pop-up-formulario p:first-child{
        font-size: 20px;
        margin-bottom: 16px;
    }
    #pop-up-formulario p:nth-child(2){
        font-size: 28px;
        margin-bottom: 24px;
    }
    #pop-up-formulario p:last-of-type{
        font-size: 14px;
        margin: 16px 0;
    }
    .campos div{
        max-width: 388px;
    }
    #pop-up-formulario button{
        max-width: 500px;
    }
}
@media(min-width: 1024px){
    .obrigado header img:first-child{
        max-width: 221px;
    }
    .obrigado header img:last-child{
        max-width: 206px;
    }
    #introducao .btn-inscricao{
        font-size: 20px;
        padding: 15px;
        max-width: 465px;
    }
    .duvida{
        padding: 16px 32px;
    }
    #valores .btn-inscricao{
        font-size: 20px;
        padding: 26px 35px;
        max-width: 465px;
    }
    .landing h1{
        width: 45%;
    }
    .obrigado h1 {
        font-size: 43px;
    }
    .obrigado main p.texto-pre-video{
        font-size: 28px;
    }
    header{
        width: calc(var(--max-width-responsive-landing) * .45);
        flex-direction: row-reverse;
        justify-content: center;
        gap: 60px;
    }
    header img{
        width: unset;
        flex: 1;
    }
    #container-detalhes{
        display: flex;
        justify-content: space-between;
        padding: 55px 60px 45px;
        gap: 70px;
    }
    #beneficios{
        width: 39%;
    }
    #beneficios h2{
        font-size: 24px;
    }
    #valores{
        flex: 1;
    }
    #preco-cortado{
        font-size: 36px;
    }
    #valores p{
        font-size: 28px;
    }
    #valores p b{
        font-size: 70px;
    }
    .instrucoes-contato img{
        width: 48px;
        height: 48px;
    }
    .landing footer > .instrucoes-contato{
        max-width: 360px;
        padding: 0 0 40px 0;
    }
    #flex-contatos{
        display: flex;
        flex-wrap: wrap;
        padding: 0 15px;
    }
    #flex-contatos .instrucoes-contato{
        width: 50%;
        max-width: unset;
    }
    #flex-contatos .instrucoes-contato p:first-child{
        font-size: 20px;
    }
    #flex-contatos .instrucoes-contato p:not(p:first-child){
        font-size: 14px;
    }
}
@media(min-width: 1201px){
    .bussola-esquerda{
        display: block;
    }
    #bussola-lateral{
        width: calc(((100vw - 200px) * 0.45) + 200px);
        max-width: 830px;
    }
    #valores p b {
        font-size: 100px;
    }
    :root{
        --max-width-responsive-landing: 1092px;
        --max-width-responsive-obrigado: 760px;
    }
    #manual-aluno{
        display: flex;
        flex-direction: column-reverse;
    }
    #manual-aluno div{
        padding: 34px 45px 57px;
        margin-top: 10px;
    }
    .obrigado main h2{
        font-size: 28px;
    }
    .obrigado #apresentacao p{
        width: 75%;
        display: block;
        margin: 0 auto 50px;
    }
    #manual-aluno h2{
        padding: 0;
    }
    #manual-aluno p{
        width: 70%;
        align-self: baseline;
        margin: 16px 0;
    }
    #manual-aluno a{
        width: 65%;
        margin-left: unset;
    }
    #manual-aluno img {
        margin-right: -210px;
        position: relative;
        margin-top: -200px;
    }
}
@media(min-width: 2200px){
    #bussola-landing{
        max-width: unset;
        height: 80vh;
        width: auto;
    }
    :root{
        --max-width-responsive-landing: 1600px;
        --max-width-responsive-obrigado: 1100px;
    }
}


@font-face {
    font-family: 'Paralucent';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(../fonts/Paralucent/Paralucent-Thin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Paralucent';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/Paralucent/Paralucent-Light.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Paralucent';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../fonts/Paralucent/Paralucent-Bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Paralucent';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Paralucent/Paralucent-Medium.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Paralucent';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/Paralucent/Paralucent-DemiBold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}